@model TravelAgency.Domain.DTO.BookingDTO

@{
    ViewData["Title"] = "Create";
    var travelPackageName = ViewData["TravelPackageName"];
    var travelPackageId = ViewData["TravelPackageId"];
    var user = ViewData["User"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<h3>Welcome @user</h3>
<h4>Booking</h4>
<h4>Travel Package: @travelPackageName </h4>
<hr />

<p>Enter the number of rooms you want to book for this Travel Package</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>     

            <input type="hidden" asp-for="travelPackageId" value="@travelPackageId" />
            
            <div class="form-group">
                <label asp-for="numberOfRooms" class="control-label"></label>
                <input asp-for="numberOfRooms" class="form-control" />
                <span asp-validation-for="numberOfRooms" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
