@model TravelAgency.Domain.ViewModels.TravelPackageViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color: white;">Create</h1>
<h4 style="color: white;">TravelPackage</h4>
<hr />
<div class="row " style="color: white;">
    <div class="container">
        <form asp-action="Create">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfNights" class="control-label"></label>
                    <input asp-for="NumberOfNights" class="form-control" id="NumberOfNights" />
                    <span asp-validation-for="NumberOfNights" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartureDate" class="control-label"></label>
                    <input asp-for="DepartureDate" class="form-control" />
                    <span asp-validation-for="DepartureDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedAccommodationId" class="control-label">Accommodation: </label>
                    <select asp-for="SelectedAccommodationId" class="form-control" asp-items="@(new SelectList(Model.Accommodations, "Id", "Name"))">
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <button type="button" id="addItinerary" class="btn btn-secondary mt-2" style="display:inline-block">Add Itinerary</button>
            </div>

            <div class="container p-0 m-0">
                <div class="row mt-2" id="itineraryContainer">
                    <!-- Dynamically added itineraries will go here -->
                </div>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            let itineraryIndex = 0;

            function limitItineraries() {
                var numberOfNights = document.getElementById("NumberOfNights").valueAsNumber;


                if (itineraryIndex >= numberOfNights) {
                    $("#addItinerary").prop("disabled", true);
                } else {
                    $("#addItinerary").prop("disabled", false);
                }
            }
            
                $("#addItinerary").click(function () {
                    let html = `
                                        <div class="col-md-3 itinerary-item mb-2" style="display: inline-block;">
                                  <div class="card "  data-index="${itineraryIndex}">
                              <div class="card-body">
                                       <div class="form-group">
                                           <label for="Itineraries_${itineraryIndex}__DayNumber">Day Number:</label>
                                           <input type="number" name="Itineraries[${itineraryIndex}].DayNumber" class="form-control" required />
                                       </div>
                                        <div class="form-group">
                                            <label for="Itineraries_${itineraryIndex}__Description">Description:</label>
                                            <textarea name="Itineraries[${itineraryIndex}].Description" class="form-control" required></textarea>
                                        </div>
                                        <button type="button" class="btn btn-danger remove-itinerary mt-2">Remove</button>
                              </div>
                         </div>
                         </div>
                         `;
                    $("#itineraryContainer").append(html);
                    itineraryIndex++;

                    limitItineraries();
            });

            $(document).on("click", ".remove-itinerary", function () {
                $(this).closest(".itinerary-item").remove();
                itineraryIndex--;
                limitItineraries();
            });

           
        });

        
    </script>
}
