@{
    ViewData["Title"] = "Home Page";
}

<div style="    display: flex
;
    justify-content: center;
    flex-direction: column;
    height: 800px;">
<div class="text-center" style="color:white;">
        <h1 class="fw-bold" style="font-size:110px; text-shadow: 3px 4px rgb(50 49 55 / 60%);">Welcome</h1>
    <hr style="border: 1.8px solid white; opacity:100%"/>

     <a asp-controller="TravelPackages" asp-action="Index" class="btn btn-lg mt-3" id="travel-button">
            Travel &rarr;
     </a>
    </div>
</div>
